<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
          <span class="sr-only">切换导航</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/index.php">无人机配置</a>
      </div>

      <div class="collapse navbar-collapse" id="example-navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/index.php/DianJi/DianJi/dianJiIndex">电机选择</a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">机翼选择 <b class="caret"></b>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a href="#">计算型号</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">计算长度</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>